#links-scanner h1 {
    font-weight: 500;
}

#links-scanner .dashicons {
    font-size: 1.5rem;
}

#links-scanner > p, #links-scanner > button {
    font-size: larger;
    cursor: pointer;
}

#links-scanner {
    margin-bottom: 2rem;
}

#scan-result-container {
    visibility: hidden;
}

#scan-result {
    border-collapse: collapse;
    margin-right: 2rem;
}
#scan-result th, #scan-result td {
    border: 1px solid #bebebe;
    padding: 8px;
}
#scan-result th {
    background-color: #e2e2e2;
    text-align: left;
}

#scan-result .dashicons {
    font-size: 2rem;
    opacity: 50%;
}

.scan-result-item {
    align-items: center;
    display: flex;
    gap: 2rem;
    width: 100%;
}