#links-scanner h1 {
    font-weight: 500;
}

#links-scanner .dashicons {
    font-size: 1.5rem;
}

#links-scanner > p, #links-scanner > button {
    font-size: larger;
}

#links-scanner {
    margin-bottom: 2rem;
}

#scan-result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#scan-result .dashicons {
    font-size: 2rem;
    opacity: 50%;
}

.scan-result-item {
    align-items: center;
    display: flex;
    gap: 2rem;
    width: 100%;
}

.scan-result-item div, .scan-result-item a {
    align-items: center;
    background-color: rgb(109, 109, 109);
    border-radius: 0.45rem;
    color: rgb(255, 255, 255);
    display: flex;
    height: 2.5rem;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 30%;
}

.scan-result-item a {
    background-color: rgb(13, 162, 53);
    color: white;
}